@model User

<h3>Edit your Account information.</h3>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <table>
        <tr>
            <th> Name: </th>
            <td> <input type="text" asp-for="Name" value="@Model.Name" /> </td>
        </tr>
        <tr>
            <th> Email: </th>
            <td> <input type="email" asp-for="Email" value="@Model.Email" /> </td>
        </tr>
        <tr>
            <th> Password: </th>
            <td> <input type="password" asp-for="Password" placeholder="Your Password" class="form-control" value="@Model.Password" /> </td>
        </tr>
        <tr>
            <th> Become a member?: </th>
            <td>
                <div class="form-group">
                    <select asp-for="Member" class="form-control" value="@Model.Member" >
                        <option value=""> Choose An Option </option>
                        <option value="true"> Yes </option>
                        <option value="false"> No </option>
                        <option value="false"> Maybe Later </option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td> <input type="submit" value="Edit" /> </td>
        </tr>
    </table>
</form>
